<h2>Welcome to the Home Page!</h2>
<p>
  This is the homepage of your Angular application. The title of this page is
  dynamically set to "Home - Angular Application".
</p>

<p>
  <b
    >Open The demo URL in a new tab to see the live changing of Title on click
    of Home or Post #1 or POst #2 tabs.
  </b>
</p>

<hr />
<h3>Connect with us on Social Media:</h3>

<p>
  <a href="https://github.com/BeingCoders" target="_blank">Github</a> |

  <a href="https://www.facebook.com/9MoodOfficial" target="_blank">Facebook</a>
  |
  <a href="https://www.instagram.com/9MoodOfficial" target="_blank"
    >Instagram</a
  >
  |
  <a href="https://www.linkedin.com/company/9mood" target="_blank">LinkedIn</a>
  | <a href="https://www.reddit.com/r/9Mood/" target="_blank">Reddit</a> |
  <a href="https://9MoodOfficial.tumblr.com" target="_blank">Tumblr</a> |
  <a href="https://www.9mood.com/feed" target="_blank">Feed</a> |
  <a href="https://9mood.quora.com/" target="_blank">Quora</a> |
  <a href="https://bsky.app/profile/9moodofficial.bsky.social" target="_blank"
    >Blue Sky</a
  >
  |
  <a href="https://x.com/9MoodOfficial" target="_blank">X / (Twitter)</a>
</p>
